:root {
    --primary-color: #913560;
    --secondary-color: #bbb;
    --accent-color: linear-gradient(90deg, rgba(177,141,211,1) 35%, rgba(67,67,144,1) 65%);
    --button-hover: #8a56ac;
  }
  
  body {
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    background-color: var(--secondary-color);
  }
  
  .multiplayerForm 
  {
     z-index:300;
  }

  .mainGameContainer {
    background-color: #000;
    font-family: 'Press Start 2P', cursive;
    background-image: url('./../../assets/bg-game12.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    background: linear-gradient(45deg, #805AD5, #4D68FF); /* Gradient from purple-500 to indigo-600 */
    color: #fff;
    width: 80%;
    min-height: 10%;
    margin-left: 10%;
    margin-top: 1%;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s ease; /* Smooth transition for background color */
  }
  
  .navBtn {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 15vh;
    font-size: 16px;
    color: white;
    background: #B18DD3;
    border-radius: 8px;
    border: 1px solid #B18DD3;
    transition: all 0.4s ease; /* Smooth transition for button */
    margin: 15px;
    z-index: 1;
  }
  
  .navBtn:hover {
    background-color: #434190;
  }
  
  .title {
    margin: 20px;
  }
  
  .mode {
    margin-left: auto;
  }
  
  .duration-container {
    position: relative;
    margin-left: 20px;
  }
  
  /* Dropdown styling */
  .duration {
    font-size: 40px;
    font-weight:normal;
    margin-left: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    width: 150px; /* Adjust width as needed */
    cursor: pointer;
    background-color: #fff; /* Dropdown background color */
    color:black;
    font-weight: 400;
    transition: all 0.3s ease; /* Smooth transition for dropdown */
  }
  
  .duration:focus {
    border-color: #555; /* Border color on focus */
  }
  
  /* Dropdown arrow styling */
  .duration-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }
  
  /* Options styling */
  .duration option {
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .duration option:hover {
    background-color: #f0f0f0; /* Hover background color */
  }
  
  .display {
    position: absolute;
    right: 3vh;
    top: 60vh;
    width: 45vh;
    height: 60vh;
    transform: translateY(-50%);
    background: linear-gradient(45deg, #805AD5, #4D68FF);
    padding: 10px;
    border-radius: 12px;
    color: #00FF00;
    font-size: 16px;
    padding: 1vh;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
  }
  
  .externalMonitor {
    background-image: url('./../../assets/monitor2.png');
    background-size: contain;
    width: 500vh;
    height: 80vh;
    max-width: 900px;
    background-repeat: no-repeat;
    margin-top: 1px;
    margin-bottom: 50px;
    padding: 22px;
    margin-left: 10%;
    z-index: 1;

  }
 


  
  .screen {
    margin-top: 5%;
    width: 62%;
    height: 55%;
    max-width: 69%;
    background-color: #202020;
    margin-left: 18%;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-size: 24px;
    line-height: 1.5;
    position: relative;
    overflow: hidden;
  }
  
  .screen:before {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(92, 92, 92, 0.2) 1px, transparent 1px);
    z-index: 1;
    pointer-events: none;
  }
  
  .screen:after {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(66, 66, 66, 0.1) 20%, transparent 70%);
    z-index: 1;
    pointer-events: none;
  }
  
  .stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
.tittleText
{
  font-size:24px;
  color:white;
  font-weight: 600;
}

  .stat {
    margin:  15px;
    padding: 5px;
    width: 80%;
    background-color: #434190; 
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: all 0.3s ease; /* Smooth transition for stats */
  }
  
  .stat:hover {
    transform: translateY(-5px); /* Hover effect */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4); /* Hover shadow */
  }
  
  .stat h3 {
    margin-bottom: 5px;
    font-size: 24px;
    color: #fff;
  }
  
  .stat p {
    margin: 0;
    font-size: 20px;
    color: #B18DD3; 
  }
  
  .duration option {
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for option */
  }
  
  .duration option:hover {
    background-color: #f0f0f0; /* Hover background color */
  }
  

  .default {
    color: rgb(100, 99, 99);
    font-size:24px;
  }
  
  .correct 
  {
    font-size:24px;
    color: rgb(255, 255, 255);
  }
  
  .wrong 
  {
    font-size:24px;
    color: rgb(184, 18, 18);
  }



@media (max-width: 768px) {
  .mainGameContainer
  {
    width: 100%; 
    margin-left: 0;
    align-items: center;
    overflow-y: auto;
  }
  .keyBoardContainer
  {
    display: none;
  }
  .display
  {
    width:80%;
    bottom: 40vh;
    height: 40vh;

  }
  .tittleText
{
  font-size:24px;
  color:white;
  font-weight: 600;
}
  .stats {
    display: flex;
    flex-direction: column;
   }

  .stat {
    margin:  5px;
    padding: 2px;
    width: 80%;
    background-color: #434190; 
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: all 0.3s ease; /* Smooth transition for stats */
  }
  
  .stat:hover {
    transform: translateY(-5px); /* Hover effect */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4); /* Hover shadow */
  }
  
  .stat h3 {
    margin-bottom: 2px;
    font-size:14px;
    color: #fff;
  }
  
  .stat p {
    margin: 0;
    font-size: 14px;
    color: #B18DD3; 
  }
  

  .navbar {
    display: hidden;
    justify-content: space-between; /* Space elements evenly */
    margin-left: 0;
  }
  
  .externalMonitor 
  {
    background-image:none;
    width: 90%; /* Occupy 90% of the width */
    margin-left: 5%; /* Center horizontally */
  }
  
  .screen {
    width: 90%; 
    margin-left: 5%; 
  }
}

@media (max-width: 480px) {
  .navbar 
  {
    flex-direction: column; 
    align-items: center; 
  }
  .screen {
    position: absolute;
    height: auto;
    width: 100%; 
    margin-left: 5%; 
  }
  .display {
    display: none; 
  }
  
  .navBtn {
    margin: 5px; 
  }
  
  .stat {
    width: 90%; 
  }
}
