@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
}

.logo img {
  height: 50px;
}

.options {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.options li {
  margin-right: 20px;
}

.option {
  color: white;
  text-decoration: none;
}

.option:hover {
  text-decoration: underline;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  text-decoration: underline;
}
