/* Navbar container */
:root {
  --primary-color: #913560;
  --secondary-color: #bbb;
  --accent-color: linear-gradient(90deg, rgba(177,141,211,1) 35%, rgba(67,67,144,1) 65%);
  --button-hover: #8a56ac;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  margin-top: 60px;
  margin-left: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent; 
  padding: 20px 40px; 
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  max-height: 100px;
}

/* Logo */
.logo img {
  height: 160px; /* Adjusted logo size */
  width: auto;
}

/* Navigation options */
.options {
  list-style-type: none;
  margin-right: 50px;
  display: flex;
}

.options li {
  margin-right: 30px; /* Increased spacing between options */
}

.option {
  color: gray;
  text-decoration: none;
  font-size: 24px; /* Increased font size */
  font-weight: bold; /* Bolder font weight */
  transition: color 0.3s ease, transform 0.3s ease;
  position: relative;
}

.option::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.option:hover::before {
  background-color: #a70f74;
}

.option:hover {
  color: #ffca28;
  transform: translateY(-3px);
}

/* Button */
button {
  background-color ;
  border: none;
  color: #1e1e1e;
  cursor: pointer;
  font-size: 16px;
  padding: 12px 24px; /* Increased padding for larger button */
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 150px; /* Increased button width */
}

button:hover {
  background-color: #f0b90b;
  transform: scale(1.05);
}
