.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
}

.logo img {
  height: 50px;
}

.options {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.options li {
  display: inline;
  margin-right: 20px;
}

.options li:last-child {
  margin-right: 0;
}

.option {
  color: white;
  text-decoration: none;
}

.option:hover {
  text-decoration: underline;
}
